{% extends 'base.html.twig' %}

{% block title %}Formulaire index{% endblock %}

{% block body %}
    <h1>Formulaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Motivations</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire in formulaires %}
            <tr>
                <td>{{ formulaire.id }}</td>
                <td>{{ formulaire.nom }}</td>
                <td>{{ formulaire.prenom }}</td>
                <td>{{ formulaire.motivations }}</td>
                <td>{{ formulaire.mail }}</td>
                <td>
                    <a href="{{ path('formulaire_show', {'id': formulaire.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
