{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}


{% block body %}
    <h1>Liste des associations </h1>

    {# MAP #}
        <div id="mapid"></div>
        <script>
            var mymap = L.map('mapid').setView([48.852969, 2.349903], 7);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            minZoom: 1,
            maxZoom: 15,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiZmFueWZhbmRldiIsImEiOiJja2NnYTZtdTEwb2piMzNvOGllaThicXU0In0.03L795EO_vp8nDleAXhJig'
        }).addTo(mymap);
        var marker = L.marker([46.52, -0.09] ).addTo(mymap);
        var circle = L.circle([48.852969, -0.11], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 500
        }).addTo(mymap);

        var associations = L.marker[{ 48.8709 : 2.3561 } , { 48.7167 : 2.5 }].addTo(mymap);
        var associations = association.map(obj => { 
        var rAssociation = {};
        rAssociation[association.clé] = association.valeur; 
    return rAssociation;
});


        
        marker.bindPopup("<b></b><br>").openPopup();
        </script>
    
    </script> #}
      <table class="table">
        {% for association in associations %}
        <div class="card" style="width: 1100px; margin: 20px; ">

              <div class="card-body">
                <h5 class="card-title">{{ association.Nom }}</h5>
                <p class="card-text">{{ association.Descriptif | raw }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ association.Type }}</li>
                <li class="list-group-item">{{ association.Adresse }}</li>
                <li class="list-group-item">{{ association.Telephone }}</li>
                <li class="list-group-item">{{ association.Region }}</li>
                <li class="list-group-item">{{ association.Mail }}</li>
              </ul>
              <img src="https://www.codeur.com/blog/wp-content/uploads/2018/06/google-maps-payant.jpg" class="card-img-top" alt="..." style="width: 200px;">
              <div class="card-body">
                <a href="{{ path('association_show', {'id': association.id}) }}">show</a>
                <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>
              </div>
        </div>

        {% endfor %}
        </tbody>
    </table>

        <button class="bouton">
        <a href="{{ path('association_new') }}">Creer une association</a></button>

   
{% endblock %}
  