{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    <h1>Association index</h1>
    <table class="table_id">
        {% for association in associations %}
<div class="card" style="width: 1100px; margin: 20px; ">
  <div class="card-body">
    <h5 class="card-title">{{ association.Nom }}</h5>
    <p class="card-text">{{ association.Descriptif }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ association.Type }}</li>
    <li class="list-group-item">{{ association.Adresse }}</li>
    <li class="list-group-item">{{ association.Telephone }}</li>
    <li class="list-group-item">{{ association.Region }}</li>
    <li class="list-group-item">{{ association.Mail }}</li>
  </ul>
  <img src="https://www.codeur.com/blog/wp-content/uploads/2018/06/google-maps-payant.jpg" class="card-img-top" alt="..." style="width: 200px;">
  <div class="card-body">
    <a href="{{ path('association_show', {'id': association.id}) }}">show</a>
    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>
  </div>
</div>

        {% endfor %}
        </tbody>
    </table>

    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

<p class="bouton">
<a href="{{ path('association_new') }}">Create new</a></p>

</div>
{% endblock %}
