{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <h1>Association</h1>

    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ association.Nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ association.Type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ association.Adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ association.Telephone }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ association.Region }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ association.Mail }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ association.Descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('association_index') }}">back to list</a>

    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>

    {{ include('association/_delete_form.html.twig') }}
{% endblock %}
