{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}
    <h1>Associations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ association.Nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ association.Type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ association.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ association.telephone }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ association.region }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ association.mail }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ association.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('associations_index') }}">back to list</a>

    <a href="{{ path('associations_edit', {'id': association.id}) }}">edit</a>

    {{ include('associations/_delete_form.html.twig') }}
{% endblock %}
